DEBUG=True
DATABASE_URL=postgres://configurador_user:1234@db:5432/configurador_db
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin
REDIS_URL=redis://redis:6379/1